
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*:focus{
  background-color: deepskyblue;
  color: white;
  font-family: "Poppins", sans-serif;

}

.irao_:focus{
  background-color: deepskyblue;
}

form:focus{
  background-color: deepskyblue;
  color: white;

}


  .navbar-links li a:hover {
    color: #fff;
    background-color: #2a006a;
    transition: 1s ease;
}


  /*CSS DA NAVBAR*/
  * {
      box-sizing: border-box;
  }
  
  body {
      margin: 0;
      padding: 0;
      background-image: url("images/maesgrandes.png");
  }
  
  
  .navbar{
      display: flex;
      position: relative;
      justify-content: space-between;
      align-items: center;
      background-color: #f7c820;
      color: #2a006a !important;
  }
  .navbar .icons div{
    color: #2a006a;
    font-size: 1.7rem;
    margin-left: 1.7rem;
    margin-right: 1rem;
    cursor: pointer;

  }
  .navbar a{
    padding-right: 4.5rem;
  }
  #menu{
    display: none;
  }
  .navbar .icons div:hover{
    color:rgb(255, 255, 255);
}
  .brand-logo{
    height:75px;
    width:150px;
    margin-left: 50px;
    padding-left: 10px;
  }
  
  .brand-logo:hover{
    cursor: pointer;
  }
  
  .navbar-links {
      height: 100%;
    margin-right: 50px;
    padding-right: 10px;
  }
  
  .navbar-links ul {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      text-align: center;

  }
  
  .navbar-links li {
      list-style: none;
  }
  
  .navbar-links li a {
      display: block;
      text-decoration: none;
      padding: 15px;
      font-family: "Montserrat";
  }
  
  .navbar-links li a:hover {
      color: #fff;
      background-color: #2a006a;
      transition: 1s ease;
  }

  
  
  /*//CSS DA NAVBAR*/
  
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  footer{
      background-color: #2a006a;
      padding: 50px;
  }
  .container-footer{
      max-width: 1400px;
      padding: 0 4%;
      margin: auto;
  }
  .row-footer{
      display: flex;
      flex-wrap: wrap;
  }
  
  .footer-col-img{
    overflow: hidden;
    height: 200px;
    width: 200px;
  }
  
  .footer-col{
      width: 25%;
      padding: 0 15px;
  }
  .footer-col h4{
      font-size: 22px;
      color: white;
      margin-bottom: 20px;
      font-weight: 500;
      position: relative;
      text-transform: uppercase;
  }
  .footer-col ul{
      list-style: none;
  }
  .footer-col ul li{
      margin: 10px 0;
  }
  .footer-col ul li a{
      font-size: 16px;
      text-transform: capitalize;
      color: #fff;
      text-decoration: none;
      font-weight: 300;
      display: block;
      transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
      opacity: 70%;
      padding-left: 10px;
  }
  .footer-col .medias-socias{
    margin: 10px 0;
    
  }
  .footer-col .medias-socias a{
    font-size: 1.7rem;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    display: inline-block;
    transition: all 0.3s ease;
    padding-bottom:10px;
  }

  
  .footer-col .medias-socias a:hover{
    padding-left: 5px;
  }
  .footer-col .form-sub input{
      width: 100%;
      padding: 10px;
      font-size: 15px;
      outline: none;
      border: 1px solid white;
      color: white;
      background-color: #415aca;
  }
  .footer-col .form-sub input::placeholder{
      color: white;
  }
  .footer-col .form-sub button{
      width: 100%;
      margin-top: 10px;
      padding: 10px; 
      font-size: 17px;
      outline: none;
      border: none;
      cursor: pointer;
      color: #415aca;
      border-radius: 3px;
      font-weight: bold;
      background-color: white;        
  }
  

/* INICIO ARTIGOS*/
.content .titulo_Artigos{
  font-size: 2rem;
  color: #2a006a;
}
.content .post_Artigo{
  font-size: 1rem;
  margin: 4rem;

}
.content .post_Artigo .texto{
  font-family: "Poppins", sans-serif;


}
.content .post_Artigo .autor{
  font-size: 1rem;
}
.content .post_Artigo .imagem_Post{
  max-width: 100%; /* Garante que a imagem não ultrapasse o contêiner pai */
  height: auto; /* Mantém a proporção da imagem */
  overflow: hidden;
  border-radius: .7rem;
}


  /*INICIO CSS DA GALERIA*/

  .galeria{
    background-color: #f7c820;
    margin: 10rem;
    margin-top: 1rem;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
  }
  .galeria .title-galeria{
    padding: 2.5rem;
  }
  .photo {
    margin: 10px;
    text-align: center;
  }
  .photo img {
    width: 100%; /* Ajuste conforme necessário */
    height: auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
  }
  
  .caption {
    margin-top: 5px;
    font-size: 14px;
    color: #333333;
  }
  /*CSS DO FOOTER*/
  
  .h1-body { 
    color: #2a006a;;
    
    font-size: 45px;
    font-weight: normal;
    line-height: 48px;
    margin-top: 10vh; 
    text-align: center;
    overflow-y: hidden;
    padding-left: 50px;
  }
  
  .p-body { 
    color: #2a006a;; 
    
    font-size: 20px; 
    line-height: 32px; 
    margin: 0 0 24px; 
    padding: 50px;
    text-align: left;
    overflow-y: hidden;
  }
  

  main{
    height: 100%;
    width: 100vw;
    overflow:hidden;
    background-image: url("images/maesgrandes.png");
  }
  
  *{
    overflow-x: hidden;
  }
  
  .content {
    text-align: center;
    margin-left: 220px;
    margin-right: 220px;
    padding: 15px;
  }
  
  .img-body{
    overflow: hidden;
    height: auto;
    padding: 2rem;
    width:100%;
    max-width: 100%;
    border-radius: 50px;
  }

  .navbar-links li a:hover{
    color: #fff;
    background-color: #2a006a;
    transition: 0.2s;
  }
  a{
    color:#2a006a; ;
  }
  .img-body{
    width: 1000px;
  }

  
  html{
  scroll-behavior: smooth;
  }
.irao_{
  font-size: 15px;
  background-color: #f7c820;
  padding: 25px;
  text-decoration: none;
  outline-style: solid;
  outline-color: #2a006a;
  outline-width: 2px;
  align-items: center;
  }

.irao_:hover{
  background-color: #2a006a;
  color: white;
  transition: 0.2s;
  }





/* Responsivo */
@media (max-width: 800px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
    .galeria{
      margin: .5rem;
    }
}

@media (max-width:600px) {
    .footer-col{
        width: 100%;
    }
    .content .post_Artigo{
      margin: 0;
    }
    .galeria{
      margin: .5rem;
    }
}

@media (max-width: 560px){

.navbar .icons #menu{
  display: inline-block;
}
.navbar .navbar-links{
  position: fixed;
  right: 110%;
  display: flex;
  border-radius: .5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  top: 12%;
  width: 35%;
  height: 27rem;
  background-color: #f7c820;
}
.navbar .navbar-links.active{
    right: 2rem;
    transition: .4s linear;
}
.navbar .navbar-links a{
  font-size: 1rem;
  margin:  1rem;
  color: #2a006a;

}
.galeria{
  margin: .5rem ;
}

}
@media (max-width: 1300px) {
  .content{
    margin-left: 0;
    margin-right: 0;
    background-image: url("images/maes.png");
    background-color: transparent;
    
  }
  main{
  padding: 0;
}

  .brand-logo{
  margin-left: 0;
  height: 75px;
  width: 150px;
  position: static;
  margin-right: 10px;
}

.navbar-links li a {
    margin-right: 0;
}

.navbar-links {
    height: 100%;
  margin-right: 0px;
}

.irao_{
  outline-style: none;
  }
  
}
